* {margin: 0; padding: 0;font-family: 'Noto Sans KR', sans-serif;}
img {display: block;}
a {text-decoration: none; color: black;}


/************** header **************/
.header {
  width: 100%;
  height: 2222px;
  height: 80px;
  background: #FEF100;
  position: fixed;
  top: 0;
  z-index: 999;
}

.logo {
  width: 50px;
  height: 50px;
  padding-top: 15px;
  margin: 0 auto;
}
.logo img {
  width: 100%;
  height: 50px;
}


#chec01 {display: none;}
#chec01:checked ~ .header .open {display: none;}
#chec01:checked ~ .header .close {display: block;}

#chec01 ~ .header .close {display: none;}
#chec01 ~ .header .open {display: block;}

#chec01:checked ~ .btn_page {left: 0;}

.open {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  font-size: 25px;
}
.close {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  font-size: 25px;
}
.sch {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  font-size: 23px;
}

#search_btn {display: none;}
#search_btn:checked ~ .search {top: 80px;}

.search {
  width: 100%;
  padding: 8px 0;
  background-color: #FEF100;
  position: fixed;
  border-top: 1px solid #777;
  box-sizing: border-box;
  top: 31px;
  transition: all 0.5s;
  z-index: 3;
}
.search .sch_txt {
  width: 80%;
  height: 30px;
  margin: 0 auto;
  background: white;
  border: 1px solid #ccc;
  position: relative;
}
.search .sch_txt i {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}
.search .sch_txt input {
  width: 100%;
  height: 30px;
  display: inline-block;
  text-align: center;
  border: none;
}

/***** Btn_page *****/
.btn_page {
  width: 100%;
  height: 2222px;
  position: absolute;
  left: -100%;
  top: 80px;
  background: white;
  transition: all 0.3s;
  z-index: 999;
}
/* login */
.login {
  padding: 25px 25px 10px 25px;
  text-align: center;
}
.login p {
  font-weight: bold;
  margin-bottom: 20px;
}
.login .join {
  display: flex;
}
.login .join p {
  width: calc(50% - 5px);
  height: 40px;
  line-height: 40px;
  border-radius: 30px;
  margin-right: 10px;
  background: #FEF100;
}
.login .join p:last-child {
  background: #ccc;
  margin: 0;
}
/* intro */
.intro {
  display: flex;
  background: #FEF100;
  text-align: center;
  padding: 0 25px 0 25px;
}
.intro>div {
  width: 33.3%;
  height: 110px;
  flex-grow: 1;
}
.intro i {
  font-size: 53px;
  margin-top: 17px;
}
.intro .txt {
  font-size: 14px;
}
/* cate */
.cate {
  padding: 0 25px 0 25px;
  margin-top: 20px;
}
.cate .top,
.cate .bottom {
  display: flex;
  margin-bottom: 10px;
}
.cate .top>div,
.cate .bottom>div {
  width: calc(50% - 5px);
  border: 1px solid #ccc;
  box-sizing: border-box;
  /* margin-right: 10px; */
}
.cate .top figure,
.cate .bottom figure {
  /* width: 100%; */
  height: 150px;
}
.cate .top figure img,
.cate .bottom figure img {
  width: 100%;
  height: 150px;
}
.cate .txt {
  padding: 5px;
  text-align: center;
  font-weight: 500;
}
.cate .top .rice {
  margin-left: 10px;
}
.cate .bottom .desert {
  margin-left: 10px;
}


/************** company **************/
#rad_summary, #rad_history, #rad_product_his {display: none;}

#rad_summary:checked ~ .container .sum,
#rad_history:checked ~ .container .his, 
#rad_product_his:checked ~ .container .pro_h {
  color: #dc2c34;
  border-bottom: 3px solid #dc2c34;
  box-sizing: border-box;
}

#rad_summary:checked ~ .summary, 
#rad_history:checked ~ .history, 
#rad_product_his:checked ~ .prohistory {display: block;}

.company .summary,  
.company .history,  
.company .prohistory {display: none;}  



.company {
  padding: 0 25px 0 25px;
  margin-top: 90px;
}
.company .info {
  font-size: 12px;
  color: #555;
}
.company .container {
  display: flex;
  margin: 10px 0;
}
.company .container label {
  width: 33.3333%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/*********** summary ***********/
.company .summary h4 {
  text-align: center;
}
.company .summary .line {
  width: 50px;
  height: 1px;
  margin: 10px auto;
  background: #dc2c34;
}
.company .summary .txt {
  font-size: 14px;
}

.company .sum_box {
  margin: 20px 0;
}
.company .sum_box .common {
  height: 150px;
  color: white;
  background: #dc2c34;
  display: flex;
}
.company .sum_box .first 
.company .sum_box .four {
  background: #dc2c34;
}
.company .sum_box .common {
  height: 150px;
  color: white;
  display: flex;
}
.company .sum_box .second,
.company .sum_box .third {
  background: #666;
}
.company .sum_box .img_box {
  width: 45%;
  height: 150px;
  background: yellow;
}
.company .sum_box .img_box figure {
  width: 100%;
}
.company .sum_box .img_box figure img {
  width: 100%;
  height: 150px;
}
.company .sum_box .txt{
  width: 55%;
  height: 150px;
  text-align: center;
}
.company .sum_box .txt p:first-child {
  padding-top: 20px;
}
.company .sum_box .txt p:last-child {
  font-size: 12px;
}
.company .sum_box .txt .txt_line {
  width: 70%;
  height: 1px;
  margin: 3% auto;
  background: white;
}



/*********** history ***********/
#his01,#his02,#his03,#his04,#his05 {display: none;}
#his01:checked ~ .his_container .his2010,
#his02:checked ~ .his_container .his2000,
#his03:checked ~ .his_container .his1990,
#his04:checked ~ .his_container .his1980,
#his05:checked ~ .his_container .his1969{
  border-bottom: 3px solid blue;
  box-sizing: border-box;
}
#his01:checked ~ .his01,
#his02:checked ~ .his02,
#his03:checked ~ .his03, 
#his04:checked ~ .his04, 
#his05:checked ~ .his05 {display: block;}
.his01, .his02, .his03, .his04, .his05 {display: none;}


.company .history h4 {
  text-align: center;
}
.company .history .line {
  width: 50px;
  height: 1px;
  margin: 10px auto;
  background: #dc2c34;
}
.company .history .his_container {
  display: flex;
  margin: 15px 0;
}
.company .history .his_container label {
  width: 20%;
  text-align: center;
  border: 1px solid #ccc;
}



.company .history .his_img {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.company .history .his_img figure {
  width: 50%;
  height: 130px;
  background: #ccc;
}
.company .history .his_img figure img {
  width: 100%;
  height: 130px;
}

.company .history .his_box .txt {
  display: flex;
  padding: 10px 0;
  font-size: 14px;
}
.company .history .his_box .txt .year {
  width: 25%;
}
.company .history .his_box .txt .main_txt {
  width: 75%;
}



/*********** product_history ***********/
#prohis01,#prohis02,#prohis03,#prohis04,#prohis05 {display: none;}
#prohis01:checked ~ .prohis_container .prohis2010,
#prohis02:checked ~ .prohis_container .prohis2000,
#prohis03:checked ~ .prohis_container .prohis1990,
#prohis04:checked ~ .prohis_container .prohis1980,
#prohis05:checked ~ .prohis_container .prohis1969{
  border-bottom: 3px solid blue;
  box-sizing: border-box;
}
#prohis01:checked ~ .prohis01,
#prohis02:checked ~ .prohis02,
#prohis03:checked ~ .prohis03, 
#prohis04:checked ~ .prohis04, 
#prohis05:checked ~ .prohis05 {display: block;}
.prohis01, .prohis02, .prohis03, .prohis04, .prohis05 {display: none;}


.company .prohistory h4 {
  text-align: center;
}
.company .prohistory .line {
  width: 50px;
  height: 1px;
  margin: 10px auto;
  background: #dc2c34;
}
.company .prohistory .prohis_container {
  display: flex;
  margin: 15px 0;
}
.company .prohistory .prohis_container label {
  width: 20%;
  text-align: center;
  border: 1px solid #ccc;
}



.company .prohistory .prohis_img {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.company .prohistory .prohis_img figure {
  width: 50%;
  height: 130px;
  background: #ccc;
}
.company .prohistory .prohis_img figure img {
  width: 100%;
  height: 130px;
}

.company .prohistory .prohis_box .txt {
  display: flex;
  padding: 10px 0;
  font-size: 14px;
}
.company .prohistory .prohis_box .txt .year {
  width: 25%;
}
.company .prohistory .prohis_box .txt .main_txt {
  width: 75%;
}






/************** footer **************/

.footer {
  padding: 20px 0;
}
.footer .footer_top {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}
.footer .footer_top>div {
  width: 50%;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  text-align: center;
  background: #f7f7f7;
  border: 1px solid #ccc;
  box-sizing: border-box;

}

.footer .sns {
  padding: 0 25px;
  display: flex;
  justify-content: center;
}
.footer .sns>div {
  margin-right: 10px;
}
.footer .sns>div:last-child {
  margin: 0;
}
.footer .sns>div figure {
  width: 35px;
  height: 35px;
}
.footer .sns>div figure img {
  width: 100%;
  height: 35px;
}

.footer .f_logo {
  width: 100%;
  height: 60px;
  margin: 10px 0;
}
.footer .f_logo figure {
  width: 50%;
  height: 60px;
  margin: 0 auto;
}
.footer .f_logo figure img {
  width: 100%;
  height: 60px;
}


.footer .txt {
  padding: 0 25px;
  font-size: 12px;
  text-align: center;
  margin: 10px 0;
}
.footer .sub_txt {
  padding: 0 25px;
  font-size: 12px;
  text-align: center;
}

.footer .wa_mark {
  padding: 0 25px;
  margin: 10px 0;
}
.footer .wa_mark figure {
  width: 60%;
  height: 45px;
  margin: 0 auto;
}
.footer .wa_mark figure img {
  width: 100%;
  height: 45px;
}


/************** scroll_top **************/
.scroll_top {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  background: #FEF100;
  position: fixed;
  bottom: 20px;
  right: 15px
}
.scroll_top a {
  width: 100%;
  height: 30px;
}
.scroll_top a i{
  padding-left: 7px;
}